.artwork-card {
  margin: 10px;
  border-radius: 10px;
  border-bottom: 1px solid grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 180px; /* Adjusted to 180px */
  height: 250px; /* Adjusted for proportional height */
}

.artwork-card .foot {
  padding: 5px; /* Adjusted for proportional spacing */
}

.artwork-card .main-img {
  height: 80px; /* Keep it at 80px */
  width: 100%; /* Adjusted to 100% to fit the card */
  object-fit: cover; /* Changed to cover to maintain aspect ratio */
  object-position: center;
  overflow: hidden;
  padding: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.artwork-card .title {
  font-weight: bold;
  font-size: 14px; /* Adjusted for proportional font size */
}

.artwork-card .date {
  display: flex;
  font-size: 12px; /* Adjusted for proportional font size */
}

.artwork-card .clock {
  height: 12px; /* Adjusted for proportional clock icon size */
  margin-top: 2px;
}

.artwork-card .author {
  margin: 2px;
  font-size: 10px; /* Adjusted for proportional font size */
}

.artwork-card .img-container {
  position: relative;
  display: inline-block;
}

.artwork-card .fav-button {
  position: absolute;
  top: 5px; /* Adjusted for proportional position */
  right: 5px; /* Adjusted for proportional position */
  z-index: 1;
  padding: 8px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 25px; /* Adjusted for proportional size */
  height: 25px; /* Adjusted for proportional size */
}

.artwork-card .fav-button-img-active {
  pointer-events: none;
}

.artwork-card .fav-button:focus {
  outline: 0;
}

.little-artwork-card {
  border-radius: 10px;
  border-bottom: 1px solid grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 120px;
}

.little-artwork-card .main-img {
  height: 70px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  padding: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.little-artwork-card .foot {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.little-artwork-card .title {
  font-size: 12px;
  text-align: center;
}
