.artist-card {
  margin: 20px;
  border-radius: 10px;
  border-bottom: 1px solid grey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  width: 260px;
  height: 180px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.artist-card .top {
  display: flex;
}

.artist-card .artist-image {
  position: absolute;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  margin: 10px;
}

.artist-card .top p {
  left: 94px;
  top:10px;
  position: absolute;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  font-size: 18px;
  padding-top: 40px;
  max-width: calc(100% - 110px);
}

.artist-card .fav-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.artist-card .foot {
  display: flex;
  position: absolute;
  top:140px;
  left:14px
}

.little-artist-card {
  display: inline-block; /* Use inline-block to make the card width fit its content */
  text-align: center;
  margin-right: 10px; /* Add some margin between artist cards */
  height: 200px;
}

.little-artist-card .image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-bottom: 8px;
}

.little-artist-card .name {
  width: 100px;
  max-height: 5em; /* Set the maximum height for three lines of text */
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Set the number of lines to be displayed */
  -webkit-box-orient: vertical;
}
